.event {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    text-align: center;
    height: 328px;
    position: relative;
    

    img {
        width: 100%;
        height: 328px;
    }

    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 72px;
        font-weight: 600;
        position: relative;
        bottom: 290px;
        color: white;
    }
}

.seduleEvent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
    height: auto;

    hr {
        width: 100%;
        /* Length of the line */
        height: 3px;
        /* Thickness of the line */
        background-color: #C7C7C7;
        /* Line color */
        border: none;
        /* Remove default border */
        margin: 10px 0;
        /* Optional spacing */
    }



}
.text{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: Nunito;
  font-weight: 600;
  font-size: 52px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #F2435E;
  
  }

.mainheading {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    width: fit-content;
}