.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 0px;
    box-sizing: border-box;    
}

.ourcommunity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ourcommunity h2 {
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #F2435E;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin: 0;
}

.ourcommunity h1 {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 600px;
    color: #2A2A2A;
    margin: 0;
}

.ourcommunity h1,
.ourcommunity p {
    width: 600px;
    text-align: center;
    margin: 0; 
    color: #2A2A2A;
}

/* Responsive Design */
@media (max-width: 1440px) {
    .ourcommunity h1, .ourcommunity p {
        width: 550px;
    }
}

@media (max-width: 1280px) {
    .ourcommunity h1 {
        font-size: 45px;
        line-height: 55px;
        width: 520px;
    }
    .ourcommunity p {
        font-size: 17px;
        width: 520px;
    }
}

@media (max-width: 1024px) {
    .ourcommunity h1 {
        font-size: 40px;
        line-height: 50px;
        width: 480px;
    }
    .ourcommunity p {
        font-size: 16px;
        width: 480px;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 50px 0px;
    }

    .ourcommunity{
        gap: 20px;
    }

    .ourcommunity h2 {
        font-size: 12px;
    }

    .ourcommunity h1 {
        font-size: 26px;
        width: 90%;
    }
    .ourcommunity p {
        font-size: 14px;
        width: 90%;
    }
}
