.ourcommunity{
    height: 470px;
    text-align: center;
    display: flex;
    flex-direction: column;

    h2{
        font-size: 16px;
        font-family: "Nunito",sans-serif;
        font-weight: 600;
        color: #F2435E;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-top: 40px;
    }

    h1{
        font-size: 50px;
        font-family: "Poppins",sans-serif;
        font-weight: 600;
        box-sizing: border-box;
        width: 600px;
        margin-left: 365px;
        margin-bottom: 70px;
        line-height: 60px;
    }

    p{
        font-size: 18px;
        font-family: "Nunito",sans-serif;
        font-weight: 400;
        width: 600px;
        margin-left: 365px;
        margin-top: -5px;
    }
}