.leader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FFF5F7;
}
 
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: auto;
    margin-top: 70px;
    
    h2 {
        font-family: Nunito;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0%;
        text-decoration: underline;
        color: #F2435E;
        text-underline-offset: 10px;
    }
}
 
.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: auto;
    margin-top: 30px;
 
 
    h1 {
        font-family: Raleway;
        font-weight: 700;
        font-size: 52px;
        line-height: 60px;
        letter-spacing: 0%;
        text-align: center;
        color: #2A2A2A;
    }
}
 
.para {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    margin-top: 50px;
 
 
    p {
        font-family: Nunito;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: center;
        color: #2A2A2A;
    }
}
 
.design {
    margin-top: 70px;
    width: 80%;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
 
}
 
.changemaker,
.impact,
.social,
.partnership {
 
    width: 190px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
 
}
 
.changemakercircle,
.event,
.media,
.strategic {
    border: 4px solid #F2435E;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 173px;
    height:auto;
    border-radius: 50%;
 
    p {
        font-family: Nunito;
        font-weight: 700;
        font-size: 48px;
        line-height: 65.47px;
        letter-spacing: 0%;
        color: #F2435E;
    }
}
 
.text {
    width: 148px;
    height: 60px;
    height: auto;
    text-align: center;
    margin-top: 40px;
 
    p {
        font-family: Nunito;
        font-weight: 400;
        font-size: 22px;
        line-height: 30.01px;
        letter-spacing: 0%;
        text-align: center;
        color: #F2435E;
    }
}
 
@media screen and (max-width: 768px) {
    .leader {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #FFF5F7;
    }
 
    .heading {
        width: 61px;
        height: auto;
        text-align: center;
        margin-top: -1px;
 
        h2 {
            font-family: Nunito;
            font-weight: 600;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 0%;
            color: #F2435E;
        }
    }
 
    .subheading {
        width: 352px;
        height: 93px;
        text-align: center;
        margin-top: 12px;
        
 
        h1 {
            font-family: Raleway;
            font-weight: 600;
            font-size: 26px;
            line-height: 30.52px;
            letter-spacing: 0%;
            text-align: center;
 
        }
 
    }
 
    .para {
        width: 70%;
        height: auto;
        text-align: center;
        margin-top: 10px;
 
        p {
            font-family: Nunito;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
 
        }
    }
 
    .design {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin-top: 30px;
    }
 
    .changemaker,.impact,.social,.partnership {
        width: 121px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        margin-top: 15px;
        margin-bottom: 15px;
    }
 
    .changemakercircle,.event,.media,.strategic {
        border: 4px solid #F2435E;
        width: 100px;
        height: 100px;
        display: flex;
        text-align: center;
 
        p {
            font-family: Nunito;
            font-weight: 700;
            font-size: 26px;
            line-height: 35.46px;
            letter-spacing: 0%;
            color: #F2435E;
 
        }
    }
 
    .text {
        width: 121px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        margin-top: 10px;
 
        p {
            font-family: Nunito;
            font-weight: 400;
            font-size: 18px;
            line-height: 24.55px;
            letter-spacing: 0%;
            text-align: center;
            color: #F2435E;
        }
    }
 
 
}