.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.eventWrapper {
  display: flex;
  align-items: center;

  width: 90%;
  gap: 20px;
  

}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: auto;
  width: 52px;
  margin-top: -110px;

  p {
    font-family: Nunito;
    font-size: 22px;
    font-weight: 500;
    line-height: 30.01px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-underline-offset: 8px;

  }

  h1 {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 500;
    line-height: 78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: -20px;

  }
}

.eventImage {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.eventText {
  max-width: 500px;
  text-align: left;
  margin-left: 40px;
}

.eventText h1 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.eventText h2 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: black;
}

.eventText p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.eventText hr {
  width: 100%;
        /* Length of the line */
        height: 2px;
        /* Thickness of the line */
        background-color: #C7C7C7;
        /* Line color */
        border: none;
        /* Remove default border */
        margin: 10px 0;
        /* Optional spacing */
}

.btnWrapper {
  display: flex;
  justify-content: flex-start;
}

.bookNow {
  font-size: 15px;
  font-weight: 600;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: #F2435E;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.bookNow img {
  width: 10px;
  height: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .eventWrapper {
    flex-direction: column;
    text-align: center;
  }

  .btnWrapper {
    justify-content: center;
  }
}