.testinomal {

    height: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 10px;
        color: #F2435E;

    }

    
}

.para{
    width: 800px;
    height: auto;
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-top: -4px;
    line-height: 30px;
    
}

.message {
    display: flex;
    justify-content: center;
    width: 800px;
    margin-left: 260px;

    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        font-weight: 600;
        padding-right: 200px;

    }

    img {

        width: 80px;
        height: 80px;
        margin-top: 27px;
    }
}

.author {
    width: 80%;
    
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
    

    img {
        width: 70px;
        height: 70px;
        border-radius: 70px;
    }
}

.name {
    
    text-align: left;
    width: auto;
    margin-left: 20px;
    

    h1 {
        font-family: Nunito;
        font-size: 22px;
        font-weight: 600;
        width: fit-content;
        color: #FF8497;
        
        text-align: left;
      
        
    }

    p {
        font-family: Nunito;
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        
        color: #FF8497;
       
        text-align: left;
        width: fit-content;
        
        

    }
}

.arrow{
    
    display: flex;
    align-items: center;
    
}

.left,.right{
    width: 45px;
    height: 45px;
    border: 1px solid #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;


    img{
        width: 22px;
        height: 15px;
    }
}