.about{
    height: 380px;
    width: 100%;

    h2{
        position: relative;
        top: -10px;
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #F2435E;
        text-decoration: underline;
        text-underline-offset: 10px;
        position: relative;
        text-align: center;
    }
}

.content{
    
    text-align: center;
    width: 684px;
    position: relative;
    left: 340px;
    top: 5px;
    
}

.header{
    

    h1{
        font-family: "Poppins",sans-serif;
        font-size: 52px;
        font-weight: 600;
        
        line-height: 25px;
    }
}

.para_one{
    position: relative;
    top: 22px;
    
    .p{
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #2A2A2A;
        line-height: 200px;
    }
}