.Approach{
    
    text-align: left;

    h2{
        font-family: "Nunito",sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #F2435E;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-left: 120px;
        margin-top: 30px;
    }

    h1{
        font-family: "Poppins",sans-serif;
        font-size: 52px;
        font-weight: 600;
        width: 670px;
        line-height: 60px;
        margin-left: 120px;
        color: #2A2A2A;
    }
}

.content{
    
    display: flex;
    width: 90%;
    height: 450px;
    margin-left: 65px;
}

.community,.network,.experience{
    
    display: flex;
    flex-direction: column;
    width: 120vw;

    img{
        width: 45px;
        height: 45px;
        margin-top: 50px;
        margin-left: 80px;
    }

    h3{
        font-family: "Nunito",sans-serif;
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
        text-underline-offset: 20px;
        margin-left: 80px;
        

    }
    
    p{
        font-family: "Nunito",sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-left: 80px;
        width: 300px;
        
    }
}


