.approach {
  width: 100%;
  height: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  width: 85%;
  
  height: auto;
  display: flex;
  justify-content: space-between;
}

.left {
  
  width: 600px;
  height: auto;

  h1 {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  p {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F2435E;
    text-decoration: underline;
    text-underline-offset: 10px;

  }
}

.right {
  display: flex;
  flex-direction: column;
  width: 635px;
  height: auto;
  margin-top: 70px;
}

.personal,.impact,.Sustainable {
  display: flex;
  width: 635px;
  height: auto;
  
  justify-content: space-between;
}

.icon1,.icon2,.icon3 {
  
  width: 60px;
  height: 60px;

  img {
    width: 60px;
    height: 60px;
  }
}

.text1,.text2,.text3 {
  
  display: flex;
  flex-direction: column;
  width: 550px;
  height: auto;

  h1 {
    font-family: Nunito;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.01px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }

  p{
    font-family: Nunito;
font-size: 20px;
font-weight: 400;
line-height: 26px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }

}