.section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap; /* Allows better flexibility */
}

.textBlock {
  width: 600px;
  height: auto;
}

.title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #2A2A2A;
  margin-top: 25px;
}

.subtitle {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: #E7005E;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.values {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 70px;
  gap: 30px;
}

.valueItem {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.iconWrapper {
  width: 60px;
  height: 60px;
}

.iconWrapper img {
  width: 100%;
  height: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.valueTitle {
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  color: #2A2A2A;
}

.description {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
  }

  .textBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 26px;
    text-align: center;
    line-height: 30px;
  }

  .subtitle {
    text-align: center;
  }

  .values {
    width: 100%;
    margin-top: 20px;
  }

  .valueItem {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .textWrapper {
    width: 100%;
    text-align: center;
  }

  .valueTitle {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }
}
